.Logo{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  padding: 0;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  height: 20%;
  width: auto;
}

.box-item{
  background-color: crimson;
  width: 150px;
  height: 100%;
  border: 2px solid black;
  font-size: 20px;
  top: -40px;
  left: 100px;
}

.footer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  font-size: 25px;
  background-color: grey;
  margin: 0;
  padding: 0;
}

article{
  text-align: center;
  font-size: 50px;
}

.camion{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 0;
}